/* vars */
:root {
    --dark: #212529;
    --brand: #619b8a;
    --body: #727272;
}


/* logo */
.logo {
    height: 50px;
}

a {
    text-decoration: none;
}

/* navbar */

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--dark);
}

.navbar-nav .nav-link.active {
    color: var(--brand);
}

.navbar-nav>li>a:hover {
    color: var(--brand);
}

/* body */
body {
    font-family: sans-serif;
    line-height: 1.7;
    color: var(--body);
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--dark);
}

/* Btn */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: white;
    border-color: var(--dark);
    color: var(--dark);
}

.btn-brand:hover {
    background-color: white;
    border-color: var(--brand);
    color: var(--brand);
}

/* footer */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer ul {
    list-style: none;
    padding: 0;
}

.contact {
    padding-bottom: 20px;
}

footer li,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.7);
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:hover {
    color: rgba(255, 255, 255, 0.1);
}